.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
}

.textcenter{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 10px;
}